<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bienvenido 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>


  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Bienvenido</mat-card-title>
      <mat-card-subtitle> {{ user }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      Este es un ejemplo usando Angular Material.
    </mat-card-content>
  </mat-card>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
